*.iml
*.apk
.gradle
/local.properties
*/.idea
.idea
/output
**/.DS_Store
.DS_Store
/captures
tags
*/build
build
/ansible/secret/*
/ansible/*.retry
*.log
legacy/**/release
legacy/**/prerelease
legacy/**/debug
legacy/src/main/assets
*prerelease
*/.externalNativeBuild
/traces.txt
keystore.properties
proget.database.realm*
.kotlin
